* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin-top: 10px;
}

.header {
    display: flex;
    justify-content: center;
    font-weight: 300;
}

main{
    display: grid;
    margin-top: 200px;
}
.main{
    display: grid;
    justify-content: center;
    font-weight: 300;
}

h1 {
    display: grid;
    justify-content: center;
    font-weight: 900;
    font-size: 70px;
}

img{
    max-width: 100%;
}

footer{
    display: grid;
    grid-template-areas:
    "aside section";
    
}
.aside{
    grid-area: aside;
}
.section{
    grid-area: section;
}